body{
  background: url('https://images.unsplash.com/photo-1496144500784-f81a98b4f391?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=883&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: yellow;
  text-align: center;
}
td,table{
  margin: auto;
  border: 2px solid red;
  color: red;
  background-color:yellow;
  font-size: 25px;
}
thead{
  background-color: green;
  color: white;
}
